:root {
	--white: #FFFFFF;
	--oracle-red: #f80000;
	--oracle-black: #000000;
	--light-slate: #cad9de;
	--oracle-slate: #8aadbf;
	--dark-slate: #324b5c;
	--light-grey: #dee0e0;
	--oracle-grey: #939699;
	--dark-grey: #4e5052;
	--light-orange: #ffd39e;
	--oracle-orange: #f29111;
	--dark-orange: #8a331d;
	--light-blue: #bde6ee;
	--oracle-blue: #00758f;
	--dark-blue: #003b4d;
	--light-green: #d2e8c5;
	--oracle-green: #3a913f;
	--dark-green: #004f35;
	--light-burgundy: #ebcad3;
	--oracle-burgundy: #942645;
	--dark-burgundy: #592439;
	--hyperlink-blue: #00758f;
	/*--light- : ;
	--oracle- : ;
	--dark- : ;*/
}

/* Fonts */

/* Classes */
.mleft-5 {
	margin-left: 5px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.clear {
	clear: both;
}

.bg-grey {
	background-color: var(--light-grey);
}

.border-black {
	border: 1px var(--oracle-black) solid;
}

.oracle-hyperlink {
	color: var(--hyperlink-blue);
	font-weight: bold;
	font-size: 18px;
}

.oracle-hyperlink:hover {
	color: var(--dark-blue);
}

a, a:link, a:visited {
    color: var(--hyperlink-blue);
    text-decoration: none;
}

/* Global Tags */
body {
	background-color: var(--dark-slate);
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

#global_container {
	width:100%;
	max-width: 1600px;
	margin: 0px auto;
	background-color: var(--white);
}

.oracle-container {
	width:100%;
	max-width: 1180px;
	margin: 0px auto;
}

.body-container {
	margin-top: 65px !important;
    padding-top: 75px;
}

.block-header .title {
	border-bottom: 2px var(--oracle-red) solid;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.img-news,
.sm-img-news {
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.desktop-view-sm,
.mobile-view {
	display: none;
}

.desktop-view
{
	display: flex;
}

/* Overrides */
/* Bootstrap */
.form-control,
.form-control-sm,
.btn {
	border-radius: initial;
}
.sub-menu {
    top: 65px;
    background: linear-gradient(90deg, rgb(138, 173, 191), rgba(138, 173, 191, 0.2));
}
	
.breadcrumb {
	background-color: transparent;
    margin-bottom: 0;
	padding: 0.75rem 0;
}

.breadcrumb .breadcrumb-item > a {
	color: var(--white);
}
.breadcrumb .breadcrumb-item.active {
	color: var(--dark-blue);
}
/*News Block*/
#news_block {
	margin: 20px auto;
}

#news_block .news_lists .img-news {
	background-color: var(--oracle-grey);
    height: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#news_block .news_lists .news-wrap {
	margin: 10px auto;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#news_block .news_lists .news-wrap:hover {
	margin: 0px auto 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#news_block .news_lists .news-wrap:hover > #news_block .news_lists .img-news {
	border: 3px solid red;
}

#news_block .news_lists .news-content {
	border-left: none;
	min-height: 100px;
	padding: 15px;
	border-left: 2px var(--oracle-red) solid;	
}

#news_block .news_lists .news-content .category {
	margin-bottom: 5px;
	font-size: 10px;
}

#news_block .news_lists .news-content .title {
	font-size: 18px;
}


/* Article Block */
#article_block {
	margin: 20px auto;
}

#article_block .lblCategory {
	margin-bottom: 0;
	font-size: 12px;
}

#article_block .article-content {
	border-right: 1px var(--light-grey) solid;
    padding-right: 10px;
}
#article_block .article-content img {
	max-width: 100% !important;
}

#article_block .article-content .article-enclosure {
	width: 100%;
	padding: 0 15px 20px 0;
}

#recent_block {
	margin-left: 10px;
}

#recent_block .block-header {
	font-weight: 600;
}

#recent_block .v-news {
	border: 1px var(--oracle-black) solid;
}

#recent_block .v-news .v-row {
	border-bottom: 1px var(--oracle-black) solid;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 5px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#recent_block .v-news .v-row:last-child {
	border-bottom: none;
}

#recent_block .v-news .v-row:hover {
	background-color: rgba(138, 173, 191, 0.4);
}


#recent_block .v-news .title {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 12px;
}

#recent_block .v-news .description {
	font-size: 10px;
	margin-bottom: 0;
}

#recent_block .sm-img-news {
	margin: 5px auto;
	background-color: var(--oracle-grey);
	height: 50px;
}

/* Category Block */
#categories_block .category_title {
	font-size: 1.2rem;
    font-weight: 600;
}

.category_lists {
	padding-top: 50px;
	padding-bottom: 25px;
	margin-top: 15px;
    border-top: 1px var(--light-grey) solid;
}


.category_lists .img-news {
	margin-bottom: 30px;
	background-color: var(--oracle-grey);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 250px;
}

.category_lists .news-wrap {
	height: 250px;
 	overflow: hidden;
    position: relative;
	margin-bottom: 30px;
	color: white;
    background-color: var(--oracle-grey);
}

.category_lists .news-wrap .img-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 115%;
    left: 50%;
    padding: 15px 20px;

    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);

    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.category_lists .news-wrap .img-overlay .category {
	margin-bottom: 0;
	font-size: 10px;
}
.category_lists .col-md-4 .news-wrap .img-overlay .title {
	font-size: 1.05rem;
}

.category_lists .col-md-8 .news-wrap .img-overlay  .title {
	font-size: 1.5rem;
}

.category_lists .news-wrap .img-overlay .details {
	margin-top: 40px;
}

.category_lists .news-wrap .img-overlay .details,
.category_lists .news-wrap .img-overlay .description {
	font-size: 12px;
}

.category_lists .news-wrap:hover .img-overlay,
.category_lists .news-wrap .img-overlay:hover {
    background-color: rgba(0,0,0,0.8);
    top: 50%;
}


@media (max-width: 1280px) {
	/* global */
	.oracle-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1160px) {
	
	.desktop-view,
	.mobile-view {
		display: none;
	}

	.desktop-view-sm
	{
		display: flex;
	}

	.article_header .col-md-12,
	.article_body .article-content {
		-webkit-box-flex: 0;
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
        margin-left: 8.333333%;
        border-right: none !important;
	}

	.article_header .article_title {
		font-size: 2.2rem;
	}

	/* Category Block */
	.category_lists .col-md-4 .news-wrap .img-overlay .title {
		font-size: 1rem;
	}

	.category_lists .col-md-8 .news-wrap .img-overlay  .title {
		font-size: 1.4rem;
	}

	/* News Block */
	#news_block .news_lists .news-content .title {
	    font-size: 1rem;
	}

}

@media (max-width: 991px) {

	/* Category Block */
	.category_lists .col-md-4 .news-wrap .img-overlay .title {
		font-size: 0.8rem;
	}
	.category_lists .col-md-8 .news-wrap .img-overlay  .title {
		font-size: 1.1rem;
	}

	.category_lists .news-wrap .img-overlay .details {
	    margin-top: 35px;
	}

	.category_lists .news-wrap .img-overlay {
		top: 120%;
	}

	.category_lists .news-wrap .img-overlay .details {
		margin-bottom: 10px;
	}

	/* News Block */
	#news_block .news_lists .news-content {
	    min-height: 90px;
	}

	#news_block .news_lists .news-content .title {
	    font-size: 0.8rem;
	}


}

@media (max-width: 974px) {

	.category_lists .news-wrap .img-overlay .btn {
		display: none !important;
	}

	.form-inline .form-group {
		display: inherit;
	}

	.article_header .article_title {
		font-size: 2rem;
	}
}

@media (max-width: 767px) {


	.desktop-view,
	.desktop-view-sm {
		display: none;
	}

	.mobile-view {
		display: flex;
	}

	.category_lists .news-wrap .img-overlay {
		top: 50%;
	}

	.category_lists .col-md-4 .news-wrap .img-overlay  .title {
		font-size: 1.1rem;
	}

	.category_lists .news-wrap .img-overlay .btn {
		display: block !important;
	}

	.category_lists .news-wrap .img-overlay .details {
	    margin-top: 15px;
	}

	.article_header .article_title {
		font-size: 1.8rem;
	}

	.article-content *,
	.article_create {
		font-size: 95%;
	}
}

@media (max-width: 500px) {
	.article_header .article_title {
		font-size: 1.5rem;
	}

	.article-content *,
	.article_create {
		font-size: 90%;
	}

	.sub-menu {
		display: none;
	}

	.body-container {
	    margin-top: 10px !important;
	}
}