.btn-white,
.btn-red {
	background-color: transparent;
	color: var(--white);
	border: 2px var(--white) solid;
	/*font-weight: 600;*/
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-white:hover {
	background-color: var(--white);
	color: var(--oracle-black);
	border: 2px var(--oracle-black) solid;
}

.btn-red:hover {
	background-color: var(--oracle-red);
}

.btn-black {
	background-color: transparent;
	color: var(--oracle-black);
	border: 1px var(--oracle-black) solid;
	/*font-weight: 600;*/
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-black:hover {
	background-color: var(--oracle-black);
	color: var(--white);
	border: 1px var(--white) solid;
}

.btn-red-black {
	background-color: var(--oracle-black);
	color: var(--white) !important;
	border: 1px var(--oracle-black) solid;
    padding-left: 30px;
    padding-right: 30px;
	/*font-weight: 600;*/
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
} 

.btn-red-black:hover {
	/*background-color: var(--oracle-black);*/
	color: var(--oracle-red) !important;
	border: 1px var(--oracle-red) solid;
}