.navbar {
    z-index: 1;
    padding: 0;
    height: 65px;
    background-color: var(--oracle-black) !important;
}

.navbar .logo {
    height: 65px;
}

.navbar .nav-link {
    text-align: center;
     -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.navbar .nav-link,
.navbar .dropdown-menu a {
    margin: auto 15px;
    font-weight: 600;
    /*font-size: 20px;*/
    transition: color .2s;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.35);
}

.navbar .dropdown-menu a  {
    margin: auto 0;
  /*  padding-left: 5px;
    padding-right: 5px;*/
    color: var(--white);
    font-size: 16px;
}

.navbar .dropdown-menu {
    background-color: rgba(0,0,0,0.8);
}

.dropdown-item:hover {
    background-color: red;
}

.nav-item:hover > .nav-link,
.nav-item.show > .nav-link {
    color: var(--oracle-red) !important;
}

/*.sub-menu {
    background: linear-gradient(90deg, rgba(50, 75, 92, 0.6), rgba(138, 173, 191, 0.2));
}*/
    /*height: 30px;*/
header {
    background-color: var(--oracle-black) !important;
    z-index: 2000 !important;
}
    
/*header .image-div {
	background-image: url('../images/oracle-building.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: -65px;
}*/

footer {
    background-color: var(--dark-blue);
    height: 200px;
}

footer .div-social {
    padding: 20px;

}

footer .div-social span {
    margin: auto 5px;
}
footer .div-social span i {
    color: var(--white);
    font-size: 24px;
}

footer .div-social span:hover i {
    color: var(--oracle-grey);
}

footer .logo-wrapper {
    padding-top: 40px;
    margin-bottom: -40px;
}

footer .logo-wrapper .div-logo {
    max-width: 180px;
    display: block;
    margin: 0px auto;
}

footer .logo-wrapper .div-logo .logo-oracle {
    width: 140px;
    height: 20px;
}
footer .logo-wrapper .logo-description {
    font-size: 12px;
    color: var(--white);
}

@media (max-width: 991px) {
    /* overrides*/
    /* bootstrap */
    .navbar-toggler,
    .navbar-collapse {
        background-color: rgba(0,0,0,0.8);
    }

    .navbar-toggler {
        height: 65px;
    }

    .nav-link.stat
    {
        display: none;
    }

    .navbar-collapse .float-right,
    .nav-link {
        text-align: center;
        float: none !important;
    }

    .dropdown-menu {
        padding-left: 15px !important;
    }


}
