.navbar {
    z-index: 1;
    background-color: transparent !important;
    padding: 0;
    height: 65px;
}

.navbar .logo {
    height: 65px;
}

.fixed-top.scrolled {
  background-color: var(--oracle-black) !important;
  transition: background-color 200ms linear;
}

header  {
	height: 55vh;
 	overflow: hidden;
    position: relative;
    background-color: var(--oracle-grey);
    z-index: 3500;
    margin-left: -15px;
    margin-right: -15px;
}

header .wrapper .img-div {
	background-image: url('../images/oracle-openworld.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-position: 50% 60%;
    height: 55vh;
    /*margin-top: -65px;*/
}

header .wrapper .img-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.4);

    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}
/*test start*/
.navbar .nav-link {
	text-align: center;
	 -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    transition: all 1.0s;
}

.navbar .nav-link,
.navbar .dropdown-menu a {
	margin: auto 15px;
    font-weight: 600;
	font-size: 18px;
	transition: color .2s;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.35);
}

.navbar .dropdown-menu a  {
	margin: auto 0;
  /*  padding-left: 5px;
    padding-right: 5px;*/
	color: var(--white);
	font-size: 16px;
}

.navbar .dropdown-menu {
	background-color: rgba(0,0,0,0.8);
}

.dropdown-item:hover {
	background-color: var(--oracle-red);
}

.nav-item:hover > .nav-link,
.nav-item.show > .nav-link {
	color: var(--oracle-red) !important;
}

.nav-item:hover > .nav-link.stat {
	color: var(--white);
}

footer {
	background-color: var(--dark-blue);
	height: 200px;
}

footer .div-social {
    padding: 20px;

}

footer .div-social span {
    margin: auto 5px;
}
footer .div-social span i {
	color: var(--white);
	font-size: 20px;
}

footer .div-social span:hover i {
	color: var(--oracle-grey);
}

footer .logo-wrapper {
	padding-top: 40px;
}

footer .logo-wrapper .div-logo {
	max-width: 200px;
    display: block;
    margin: 0px auto;
}

footer .logo-wrapper .div-logo .logo-oracle {
	width: 140px;
    height: 20px;
}
footer .logo-wrapper .logo-description {
	font-size: 12px;
	color: var(--white);
}

/* Categories Block */
#categories_block {
	padding-top: 40px;
	padding-bottom: 40px;
}
#categories_block .category_header {
	padding-left: 0;
	padding-right: 0;
}
#categories_block .category_lists {
	margin-top: 0 !important;
	border-top: none !important;
}

@media (max-width: 1280px) {
	
}

@media (max-width: 991px) {
	/* overrides*/
	/* bootstrap */
	.navbar-toggler,
	.navbar-collapse {
		background-color: rgba(0,0,0,0.8);
	}

	.navbar-toggler {
		height: 65px;
	}

	.nav-link.stat
	{
		display: none;
	}

	.navbar-collapse .float-right,
	.nav-link {
		text-align: center;
		float: none !important;
	}

	.dropdown-menu {
		padding-left: 15px !important;
	}

}

@media (max-width: 974px) {

	
}

@media (max-width: 767px) {
	
}

@media (max-width: 500px) {

}